@charset "utf-8";

@use 'variable';
@use 'mixin';
@forward 'variable';
@forward 'mixin';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  font-size: 62.5%; //1rem=10px
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: variable.$text-main;
}
body {
  font-size: variable.$font-medium;
}
.material-icons {
  font-family: Material Icons;
  @include mixin.iconlayout;
}
.pc {
  @include mixin.sp {
    display: none;
  }
  @include mixin.tablet {
    display: none;
  }
}
