<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Twin:te" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Twin:te寄付者一覧" />
    <meta
      property="og:description"
      content="時間割をtwinsからアプリに簡単インポート！教室や授業名も自動で表示！曜日振替に対応したウィジェット！筑波大生のためのアプリTwin:teです。"
    />
    <meta property="og:image" content="https://www.twinte.net/ogp.jpg" />
    <title>Twin:te寄付者一覧</title>
    <link rel="stylesheet" href="../styles/import.scss" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <header ontouchstart="">
      <a href="../index.html">
        <img
          class="head-logo"
          src="../images/Twintelogo-colorA.png"
          alt="Twin:te"
        />
      </a>
      <nav>
        <div class="hamburger-icon" id="open">
          <a href="#hamburger-contents">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div id="hamburger-contents">
          <div class="hamburger-icon" id="close">
            <a href="#">
              <span></span>
              <span></span>
            </a>
          </div>
          <h1>Menu</h1>
          <ul>
            <li>
              <a href="../index.html#eyecatch">トップ</a>
            </li>
            <li>
              <a href="../index.html#overview">Twin:teとは？</a>
            </li>
            <li>
              <a href="../index.html#usages">使い方</a>
            </li>
            <li>
              <a href="../index.html#q-and-a">Q&A</a>
            </li>
            <li>
              <a href="../index.html#members">製作メンバー</a>
            </li>
            <li>
              <a href="../index.html#link">リンク</a>
            </li>
          </ul>
          <p>
            <a href="/terms/index.html">
              利用規約
            </a>
          </p>
          <p>
            <a href="/policy/index.html">
              プライバシーポリシー
            </a>
          </p>
          <p>
            <a href="/sponsorship/index.html">
              寄付
            </a>
          </p>
        </div>
        <ul class="head-menu">
          <li>
            <a href="../index.html#eyecatch">トップ</a>
          </li>
          <li>
            <a href="../index.html#overview">Twin:teとは？</a>
          </li>
          <li>
            <a href="../index.html#usages">使い方</a>
          </li>
          <li>
            <a href="../index.html#q-and-a">Q&A</a>
          </li>
          <li>
            <a href="../index.html#members">製作メンバー</a>
          </li>
          <li>
            <a href="../index.html#link">リンク</a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="sponsorship">
      <h1>寄付者一覧</h1>
      <p>
        Twin:teに寄付頂いた方で、許可頂いた方を掲載いたします。（敬称略）
      </p>

      <div class="sponsor-wrap"></div>
        <hr />

        <transition name="fade">
          <p class="amount" v-if="amount">
            総寄付額 <strong>{{ amount }}</strong> 円
          </p>
        </transition>
        <transition name="fade">
          <p class="count" v-if="count">
            計 <strong>{{ count }}</strong> 人の方に寄付いただきました。
          </p>
        </transition>

        <transition name="fade">
          <div class="users" v-if="count && users">
            <a v-for="u in users" :href="u.link" target="_blank">
              {{ u.nickname }}
              <i class="material-icons linkicon">link</i>
            </a>
          </div>
        </transition>
        <div class="loading" v-if="!count || !users">
          Loading
        </div>
      </div>
      <h2 v-if="count && users">寄付はこちらから</h2>
      <a href="https://sponsorship.twinte.net" 　v-if="count && users">
        <img class="sponsorpage-btn" src="../images/sponsor-ogp.png" />
      </a>
    </main>

    <script>
      var app = new Vue({
        el: '#sponsorship',
        mounted() {
          fetch('https://api.twinte.net/v1/payment/users')
            .then((res) => res.json())
            .then((data) => {
              this.count = data.count;
              this.users = data.users;
            });
          fetch('https://api.twinte.net/v1/payment/totalAmount')
            .then((res) => res.json())
            .then((data) => {
              this.amount = data.total;
            });
        },
        data: {
          count: null,
          users: null,
          amount: null
        }
      });
    </script>
  </body>
</html>
