@charset "UTF-8";

header {
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
  height: 9vh;
  background-color: white;
  display: flex;
  border-bottom: 0.3vh solid $border-bottom-color;
  z-index: 100;

  nav {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.head-menu {
  display: none;
}

#hamburger-contents {
  &:not(:target) {
    max-height: 0;
    z-index: 1;
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: line-height 0.15s ease-in-out;
  }

  &:target {
    top: 0;
    overflow: auto;
    position: fixed;
    width: 100%;
    background-color: white;
    max-height: 100vh;
    line-height: 1;
    opacity: 1;
    visibility: visible;
    transition: line-height 0.15s ease-in-out;
    text-align: center;
    box-shadow: 1vh 1vh 1vh $boxshadow-color;
    padding: 6% 0 6%;
  }

  h1 {
    color: var(--main-text-color);
  }

  ul {
    padding: 0 7% 2%;

    li {
      margin: 0;
      height: 8.7vh;
      border-bottom: 0.2vh solid $border-bottom-color;
      text-align: left;
      position: relative;

      a {
        font-size: 1.1 * $main-font-size;
        line-height: 8.7vh;
        padding-left: 2rem;
        display: block;
        height: 100%;
        width: 100%;

        &::after {
          position: absolute;
          font-family: 'Material Icons';
          content: '\e5cc';
          font-size: 1.9 * $main-font-size;
          display: inline-flex;
          vertical-align: middle;
          color: $primary-color;
          right: 0;
        }
      }
    }
  }

  a {
    font-size: $sub-font-size;
    color: $sub-text-color;
  }
}

.hamburger-icon {
  position: relative;
  display: block;
  height: 3vh;
  width: 4vh;
  margin-right: 4.5vw;
  margin-left: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;

  a {
    display: block;
    height: 9vh;
    width: 9vh;
  }
}

#open {
  display: block;

  span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.4vh;
    background-color: $sub-text-color;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

#close {
  display: block;

  span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.4vh;
    background-color: $sub-text-color;
    top: 100%;

    &:nth-of-type(1) {
      transform: rotate(-45deg);
    }

    &:nth-of-type(2) {
      transform: rotate(45deg);
    }
  }
}

@media screen and (min-width: 860px) {
  .head-menu {
    position: absolute;
    top: 0;
    right: 2rem;
    display: flex;
    margin: 0;
    height: 100%;

    li {
      margin: 0;
      padding: 0;
      height: 9vh;

      a {
        font-size: 1.4rem;
        line-height: 9vh;
        margin: 0 2rem;
        color: $sub-text-color;
        display: block;
        border-left: 0;

        &:hover {
          color: accent-text-color;
          transform: scale(1.05);
          transition: all 0.15s;
        }

        &:active {
          color: accent-text-color;
          transform: scale(0.95);
        }
      }
    }
  }

  #open,
  #close {
    display: none;
  }
}

.head-logo {
  display: inline-block;
  position: absolute;
  height: 4vh;
  left: 2rem;
  top: 4.5vh;
  transform: translateY(-62%);
}

.eyecatch {
  padding-top: calc(9vh + 4%);
  width: 100%;
  height: 107vh;
  background-image: url('../images/topbackground.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.title-wrap {
  display: inline-block;
  margin: 1rem auto 0;
  text-align: center;
}

.title-logo {
  height: 7.5rem;
  margin-bottom: 2vh;
  margin-right: 5%;
  filter: drop-shadow(0.1rem 0.1rem 3rem rgba(0, 0, 0, 0.301));
}

.app-download-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 1.3vh 0 1.8vh 10px;
}

.app-download-btn {
  display: block;
  margin: 0 5px;
}

.devices-img {
  width: 100%;
  height: 76vh;
  vertical-align: middle;
}

.pc-download-btn {
  display: none;
}

@media screen and (orientation: landscape) {
  .eyecatch {
    height: 80vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
  }

  .title-wrap {
    width: 36vw;
    height: auto;
    margin: 0 5rem 0;
  }

  .title-logo {
    width: auto;
    height: 12rem;
    margin-bottom: 4rem;
  }

  .app-download-btns {
    margin-bottom: 2rem;
  }

  .devices-img {
    width: 45vw;
    height: 100%;
  }

  .pc-download-btn {
    display: inline-block;
    font-size: 2rem;
    color: $accent-text-color;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 0.3rem $boxshadow-color;
    padding: 1.2rem 4rem;
    border-radius: 40rem;

    &:hover {
      transform: scale(1.05);
      transition: all 0.15s ease-in-out;
    }

    &:active {
      background-color: #d3d3d3;
      transform: scale(0.9);
    }
  }
}

.overview h2,
.feature h2 {
  color: $primary-color;
}

.overview-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 2% auto 4%;
}

.feature {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  &:nth-child(odd) {
    flex-direction: column-reverse;
  }

  &:nth-child(even) {
    flex-direction: column;
  }
}
.feature-img {
  width: 90%;
  height: 100%;
  margin: 0 2%;
  max-width: calc(750px * 0.38);
}

.discript-wrap {
  margin: 0 2%;
}

.feature span {
  color: $sub-text-color;
}

@media screen and (min-width: 600px) {
  .feature {
    flex-direction: row;
    padding: 4rem 2rem;
    &:nth-child(odd) {
      flex-direction: row;
    }
    &:nth-child(even) {
      flex-direction: row;
    }
  }

  .discript-wrap {
    width: 35vw;
    margin: 0 2%;
  }

  .feature-img {
    margin: 0 2%;
    width: 50%;
    max-width: 100%;
  }
}

.usages {
  background-color: $sub-background-color3;
  color: white;
}

.usage {
  background-color: white;
  padding: 2rem 2.4rem;
  margin: 2rem 0;
  border-radius: 0.6rem;

  img {
    display: block;
    width: 70%;
    margin-top: 4%;
  }

  h3 {
    color: $accent-text-color;
    line-height: 3.2rem;
  }

  p {
    color: $sub-text-color;
    margin-bottom: 2%;
  }

  ol {
    padding: 0 0 0 2.5rem;
    margin: 0;
    color: $sub-text-color;
  }

  li {
    margin-bottom: 0;

    span {
      font-weight: bold;
    }
  }
}

.more-btn {
  background-color: #9e9e9e;
  cursor: pointer;
  padding: 0.5rem 0.4rem 0.5rem 1rem;
  color: white;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 9rem;
  text-align: center;

  &::after {
    font-family: 'Material Icons';
    content: '\e5cf';
    font-size: 1.5 * $main-font-size;
    display: inline-flex;
    vertical-align: middle;
    margin-top: -0.2rem;
  }
}

.checkbox-hide {
  display: none;

  &:checked ~ .more-btn::after {
    font-family: 'Material Icons';
    content: '\e5ce';
  }
}

.discription-contents {
  padding-top: 2rem;
  display: none;
}

.checkbox-hide:checked ~ .discription-contents {
  max-height: 3000px;
  line-height: 180%;
  display: block;

  ol {
    margin-top: 2%;
  }

  li {
    margin-bottom: 2rem;
  }
}

.question {
  margin-bottom: 2.2rem;
  h3 {
    &::before {
      content: 'Q. ';
      font-size: 2.3rem;
      color: $primary-color;
    }
  }
}

.answer {
  margin-bottom: 6rem;
  h3 {
    margin-bottom: 1rem;
    &::before {
      content: 'A. ';
      font-size: 2.3rem;
      color: $primary-sub-color;
    }
  }

  p {
    font-size: $sub-font-size;
    line-height: 2 * $sub-font-size;
  }
}

/* menberのセクションのみコンテンツ幅が他より広いので、wrapクラスを使わずにpaddingを設定する */

.members {
  background-color: $sub-background-color2;
  padding: 6% 3%;
}

@media screen and (min-width: 600px) {
  .members {
    padding: 2% 7%;
  }
}

.profile {
  display: flex;
  width: calc(100%-3vmin);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.6rem rgba(0, 0, 0, 0.096);
  margin: 2rem auto;
  background-color: white;
  padding: 2rem 2.4rem;
  align-items: center;
}

.profile-img {
  width: 22%;
  height: 100%;
  border-radius: 50% 50%;
  margin-right: 3vmin;
  border: 0.4vmin solid #acacac;
  filter: brightness(120%) contrast(80%);
}

.profile {
  h2 {
    padding-left: 0.8rem;
    margin: 0 0 0.4rem;
    border-left: 0.4rem solid $primary-color;
    line-height: 2.3rem;
  }

  p {
    font-size: $sub-font-size;
    line-height: 1.7 * $sub-font-size;
  }
}

@media screen and (min-width: 600px) {
  .profile p {
    font-size: $main-font-size;
    line-height: 2 * $main-font-size;
  }
}

.profile-links {
  display: flex;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  width: 58vw;

  li {
    margin-right: 3vmin;

    a {
      font-size: $sub-font-size;
      line-height: 1.7 * $sub-font-size;
      color: $sub-text-color;

      &::after {
        font-family: 'Material Icons';
        content: '\e5cc';
        font-size: 1.5 * $main-font-size;
        display: inline-flex;
        vertical-align: middle;
      }
    }
  }
}

.link {
  p {
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 1.7rem;
    color: $primary-color;
  }
}

.download-link {
  margin-top: 6%;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.6rem rgba(0, 0, 0, 0.096);
  background-color: white;

  h2 {
    font-size: 2.1rem;
    color: white;
    background-color: $primary-color;
    height: 6.8rem;
    line-height: 6.8rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
  }

  div {
    padding: 2rem 2.4rem;
  }
}

footer {
  display: flex;
  align-items: center;
  font-size: $sub-font-size;
  line-height: 1.8 * $sub-font-size;
  background-image: url('../images/topbackground.jpg');
  background-size: cover;
  bottom: 0;
  padding: 2% 0 2% 5vw;
}

@media screen and (min-width: 600px) {
  footer {
    padding: 2% 10% 2%;
  }
}

.foot-logo {
  height: 4vh;
  margin-right: 5%;
  margin-top: -3%;
}

footer {
  ul {
    padding-left: 0;
  }

  a {
    color: white;
    font-weight: bold;
  }

  ul li:nth-child(n + 4) a {
    font-weight: normal;
  }
}

.policy,
.terms {
  padding: calc(9vh + 3%) 10%;
}

.policy h1,
.terms h1 {
  color: $primary-color;
}

.policy ol,
.terms ol {
  margin: 0;
}

.policy section,
.terms section {
  margin-bottom: 3%;
  line-height: 1.7 * $main-font-size;
}

.exit-btn {
  display: block;
  background-color: $primary-color;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  width: 20rem;
  text-align: center;
  margin: 5% auto 0 auto;
}

#sponsorship {
  padding: calc(9vh + 3%) 10%;
  text-align: center;
  h1 {
    color: $primary-color;
  }
  h2 {
    margin: 7% auto 1%;
  }
  .sponsor-wrap {
    margin: 6% auto;
  }
  .amount {
    color: $accent-text-color;
    padding-top: 1rem;
  }
  .count {
    color: $accent-text-color;
  }
  .users {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.2s;
    a {
      display: block;
      padding: 0.5rem 1rem;
    }
    a.user-link {
      &:hover {
        color: lighten($main-text-color, 30%);
      }
      &:hover .linkicon {
        opacity: 1;
      }
    }
    .linkicon {
      opacity: 0;
      display: inline-flex;
      font-family: 'Material Icons';
      color: $sub-text-color;
      content: '\e157';
      vertical-align: middle;
      transition: 0.2s;
    }
  }

  hr {
    border-top: 1px solid $primary-color;
  }
  .sponsorpage-btn {
    width: 40rem;
    max-width: 80vw;
    height: auto;
    transition: 0.1s ease-in;
    &:hover {
      filter: contrast(80%) brightness(1.2);
    }
    &:active {
      filter: contrast(100%) brightness(1);
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.3s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
    transform: translateY(50px);
  }

  @keyframes loading-title-anim {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
  .loading {
    margin-top: 5rem;
    text-align: center;
    font-size: 2em;
    animation: 1s ease 0s infinite normal none running loading-title-anim;
  }
}
