@charset "UTF-8";

$theme-color: #00c0c0;
$main-text-color: #555555;
$sub-text-color: hsl(0, 0%, 60%);
$accent-text-color: #06aaaa;
$sub-background-color1: #f3f3f3;
$sub-background-color2: #f8f8f8;
$sub-background-color3: #48c3c3;
$border-bottom-color: #c7c7c7;
$main-font-size: 1.55rem;
$sub-font-size: 1.4rem;
$boxshadow-color: rgba(0, 0, 0, 0.096);
