@charset "UTF-8";

$primary-color: #00c0c0;
$primary-sub-color: #f2b456;
$main-text-color: #777777;
$sub-text-color: #a5a5a5;
$accent-text-color: #06aaaa;
$sub-background-color1: #f3f3f3;
$sub-background-color2: #f8f8f8;
$sub-background-color3: #48c3c3;
$border-bottom-color: #c7c7c7;
$main-font-size: 1.55rem;
$sub-font-size: 1.4rem;
$boxshadow-color: rgba(0, 0, 0, 0.096);
