@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$dark: #232323;
$light: #ffffff;
$vibrant: #00c0c0;

$color1: #ffffff;

$color2: #00c0c0;
        
$color3: #b6b6b6;
        
$color4: #232323;
        
$color5: #747474;
        
$color6: #6febe1;

$teal: #80cbc4;

$primary: $color2;
$primary-invert: $light;
$link: $vibrant;
$danger: #e0f2f1;
$warning: #e0f2f1;

// length
$navbar-height: 5rem;

// 6. Import the rest of Bulma
@import "~bulma/bulma";
html {
  scroll-behavior: smooth;
}

@for $i from 1 through 10 {
  .top-#{$i}{
    position: absolute;
    top: #{$i * 10}vh;
  }
  .right-#{$i} {
    position: absolute;
    right: #{$i * 10}vw;
  }
  .left-#{$i} {
    position: absolute;
    left: #{$i * 10}vw;
  }
}

li{
  margin-bottom:1rem;
}

.card {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
}

article{
  background-color: #d9f1ed;
}