// text
@mixin feature-title {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 160%;
  @include pc {
    font-size: 2.4rem;
  }
}
@mixin text-title-sub {
  color: $text-main;
  font-size: $font-large;
  line-height: 180%;
  font-weight: regular;
}
@mixin text-discription {
  color: $text-main;
  font-size: $font-medium;
  line-height: 180%;
  font-weight: regular;
}
@mixin text-liner {
  color: #6bcedc; // baakground-clip に対応していない場合の色
  background: $primary-liner;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// icon
@mixin icon-cursor {
  user-select: none;
  cursor: default;
}

// button
@mixin button-cursor {
  user-select: none;
  cursor: pointer;
}

// img用マスク
// (↓グラデーションマスクをかける要素をwrapする親要素に設定する。)
@mixin scroll-mask {
  -webkit-mask-image: linear-gradient(
    180deg,
    #c4c4c4 86.81%,
    rgba(196, 196, 196, 0) 96.74%,
    rgba(196, 196, 196, 0) 100%
  );
}

// layout

@mixin flexible() {
  display: inline-block;
}
@mixin fixed {
  display: block;
}
@mixin center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin center-flex($direction: 'row') {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
@mixin iconlayout {
  display: inline-flex;
  vertical-align: middle;
}

// Media Queries
@mixin sp {
  @media only screen and (max-width: 500px) {
    // スマホレイアウト
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 501px) and(max-width: 999px) {
    // タブレットレイアウト
    @content;
  }
}

@mixin pc {
  @media only screen and (min-width: 1000px) {
    // パソコンレイアウト
    @content;
  }
}

@mixin tab-and-sp {
  @media only screen and (max-width: 999px) {
    @content;
  }
}
