// text
@mixin text-liner {
  color: #6bcedc; // baakground-clip に対応していない場合の色
  background: $primary-liner;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin heading-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: $single-line;
  color: $text-main;
}
@mixin html {
  line-height: $single-line;
}

// icon
@mixin icon-cursor {
  user-select: none;
  cursor: default;
}

// img用マスク
// (↓グラデーションマスクをかける要素をwrapする親要素に設定する。)
@mixin scroll-mask {
  -webkit-mask-image: linear-gradient(
    180deg,
    #c4c4c4 86.81%,
    rgba(196, 196, 196, 0) 96.74%,
    rgba(196, 196, 196, 0) 100%
  );
}

@mixin flexible() {
  display: inline-block;
}
@mixin fixed {
  display: block;
}
@mixin center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin center-asolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin center-flex($direction: "row") {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
@mixin iconlayout {
  display: inline-flex;
  vertical-align: middle;
}

// Media Queries
@mixin sp {
  @media only screen and (max-width: 677px) {
    // スマホレイアウト
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 678px) and(max-width: 999px) {
    // タブレットレイアウト
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1000) {
    // パソコンレイアウト
    @content;
  }
}
